<!DOCTYPE html>
<html>
    <head>
        <title>Watchdog</title>
        <link rel="stylesheet" href="../css/browserAction.css" type="text/css" media="screen, projection" />
        <script src="../../../vendor/framework/jquery/jquery.js"></script>
        <script src="../../../vendor/bootstrap/js/bootstrap.js"></script>
        <script src="../browserAction.js"></script>
    </head>
    <body>
        <p class="title"><strong>Watchdog&nbsp;Status</strong></p>
        <div class="checkbox">
            <input id="check" name="1" type="checkbox" value="1"/>
            <label for="check">Check-me</label>
        </div>

        <hr />

        <div>
            <a href="index.html" class="btn" target="_blank">Add websites</a> to be monitored by Watchdog!
        </div>
    </body>
</html>